:root {
  --border-radius-sm: 12px;
  --border-radius-md: 15px;
  --border-radius-lg: 20px;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}
.ql-container.ql-snow {
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

/* 텍스트 에디터 placeholder 컬러 변경*/
.quill > .ql-container > .ql-editor.ql-blank::before {
  color: darkgray;
}
